.flex-container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
